<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Registrations</title>
    <link rel="stylesheet" th:href="@{/css/customer-style.css}">
</head>
<body>
<div class="container">
    <h1>My Vehicle Registrations</h1>
    <table>
        <thead>
        <tr>
            <th>Reg Number</th>
            <th>Vehicle</th>
            <th>Status</th>
            <th>Expiry</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="reg : ${registrations}">
            <td>
                <a th:href="@{/registrations/{id}(id=${reg.id})}"
                   th:text="${reg.registrationNumber}" class="link"></a>
            </td>
            <td th:text="${reg.vehicle.make} + ' ' + ${reg.vehicle.model}"></td>
            <td th:text="${reg.status}"></td>
            <td th:text="${#temporals.format(reg.expiryDate, 'dd MMM yyyy')}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
